In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# create a dataframe
df1 = DataFrame({"城市":["北京","上海","广州"], "人口":[1000,2000,1500]}, index=['A','B','C'])

In [3]:
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  1500

In [5]:
df1['GDP'] = Series([1000,2000,1500], index=['A','B','C'])

In [6]:
df1

   城市    人口   GDP
A  北京  1000  1000
B  上海  2000  2000
C  广州  1500  1500

In [9]:
gdp_map={"北京":1000,"上海":2000,"广州":1500}

In [11]:
df1['GDP1']=df1['城市'].map(gdp_map)

In [12]:
df1

   城市    人口   GDP  GDP1
A  北京  1000  1000  1000
B  上海  2000  2000  2000
C  广州  1500  1500  1500

In [ ]:
m