In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# series reindex

In [9]:
s1 = Series([1,2,3,4], index=['A','B','C','D'])

In [10]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [13]:
s1.reindex(index=['A','B','C','D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [14]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [15]:
s1.reindex(index=['A','B','C','D','E'], fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [16]:
s2 = Series(['A','B','C'], index=[1,5,10])

In [17]:
s2

1     A
5     B
10    C
dtype: object

In [18]:
s2.reindex(index=range(15),method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

# reindex dataframe

In [19]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]), index=['A','B','D','E','F'], columns=['c1','c2','c3','c4','c5'])

In [20]:
df1

         c1        c2        c3        c4        c5
A  0.551344  0.397164  0.144117  0.870868  0.936418
B  0.600503  0.898210  0.706071  0.990989  0.567336
D  0.222365  0.379526  0.825573  0.736014  0.048058
E  0.169761  0.872481  0.980926  0.942928  0.727005
F  0.515324  0.059951  0.259748  0.396614  0.434586

In [21]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.551344  0.397164  0.144117  0.870868  0.936418
B  0.600503  0.898210  0.706071  0.990989  0.567336
C       NaN       NaN       NaN       NaN       NaN
D  0.222365  0.379526  0.825573  0.736014  0.048058
E  0.169761  0.872481  0.980926  0.942928  0.727005
F  0.515324  0.059951  0.259748  0.396614  0.434586

In [22]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.551344  0.397164  0.144117  0.870868  0.936418 NaN
B  0.600503  0.898210  0.706071  0.990989  0.567336 NaN
D  0.222365  0.379526  0.825573  0.736014  0.048058 NaN
E  0.169761  0.872481  0.980926  0.942928  0.727005 NaN
F  0.515324  0.059951  0.259748  0.396614  0.434586 NaN

In [23]:
df1.reindex(index=['A','B','C','D','E','F'],columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.551344  0.397164  0.144117  0.870868  0.936418 NaN
B  0.600503  0.898210  0.706071  0.990989  0.567336 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.222365  0.379526  0.825573  0.736014  0.048058 NaN
E  0.169761  0.872481  0.980926  0.942928  0.727005 NaN
F  0.515324  0.059951  0.259748  0.396614  0.434586 NaN

In [24]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [25]:
s1.reindex(index=['A','B'])

A    1
B    2
dtype: int64

In [26]:
df1.reindex(index=['A','B'])

         c1        c2        c3        c4        c5
A  0.551344  0.397164  0.144117  0.870868  0.936418
B  0.600503  0.898210  0.706071  0.990989  0.567336

# Series and dataframe drop

In [27]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [28]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [29]:
df1

         c1        c2        c3        c4        c5
A  0.551344  0.397164  0.144117  0.870868  0.936418
B  0.600503  0.898210  0.706071  0.990989  0.567336
D  0.222365  0.379526  0.825573  0.736014  0.048058
E  0.169761  0.872481  0.980926  0.942928  0.727005
F  0.515324  0.059951  0.259748  0.396614  0.434586

In [30]:
df1.drop('c1', axis=1)

         c2        c3        c4        c5
A  0.397164  0.144117  0.870868  0.936418
B  0.898210  0.706071  0.990989  0.567336
D  0.379526  0.825573  0.736014  0.048058
E  0.872481  0.980926  0.942928  0.727005
F  0.059951  0.259748  0.396614  0.434586

In [31]:
df1.drop('A', axis=0)

         c1        c2        c3        c4        c5
B  0.600503  0.898210  0.706071  0.990989  0.567336
D  0.222365  0.379526  0.825573  0.736014  0.048058
E  0.169761  0.872481  0.980926  0.942928  0.727005
F  0.515324  0.059951  0.259748  0.396614  0.434586