In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s1 = Series(np.random.randn(6), index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])

In [4]:
s1

1  a   -1.878665
   b    0.367715
   c    0.059516
2  a    0.418212
   b    0.020295
   c    0.831361
dtype: float64

In [5]:
type(s1['1'])

pandas.core.series.Series

In [6]:
s1['1']

a   -1.878665
b    0.367715
c    0.059516
dtype: float64

In [7]:
s1['1']['a']

-1.8786650232702329

In [8]:
s1[:,'a']

1   -1.878665
2    0.418212
dtype: float64

In [9]:
df1 = s1.unstack()

In [10]:
df1

          a         b         c
1 -1.878665  0.367715  0.059516
2  0.418212  0.020295  0.831361

In [11]:
df2 = DataFrame([s1['1'],s1['2']])

In [12]:
df2

          a         b         c
0 -1.878665  0.367715  0.059516
1  0.418212  0.020295  0.831361

In [13]:
s2 = df1.unstack()

In [14]:
s2

a  1   -1.878665
   2    0.418212
b  1    0.367715
   2    0.020295
c  1    0.059516
   2    0.831361
dtype: float64

In [15]:
s2 = df1.T.unstack()

In [16]:
s2

1  a   -1.878665
   b    0.367715
   c    0.059516
2  a    0.418212
   b    0.020295
   c    0.831361
dtype: float64

In [17]:
df = DataFrame(np.arange(16).reshape(4,4), index=[['a','a','b','b'],[1,2,1,2]], columns=[['BJ','BJ','SH','GZ'],[8,9,8,8]])

In [18]:
df

     BJ      SH  GZ
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [19]:
df['BJ'][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int64

In [21]:
df['BJ'][8].unstack()

   1   2
a  0   4
b  8  12