In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series的排序

In [2]:
s1 = Series(np.random.randn(10))

In [3]:
s1

0   -1.688618
1   -1.052942
2    0.971411
3   -1.609196
4   -0.293852
5    0.898115
6    1.519560
7   -1.538302
8   -0.614688
9    1.005417
dtype: float64

In [4]:
s1.values

array([-1.68861824, -1.05294243,  0.97141128, -1.609196  , -0.29385157,
        0.89811526,  1.51956017, -1.5383021 , -0.61468816,  1.00541688])

In [5]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [6]:
s2 = s1.sort_values(ascending=False)

In [7]:
s2

6    1.519560
9    1.005417
2    0.971411
5    0.898115
4   -0.293852
8   -0.614688
1   -1.052942
7   -1.538302
3   -1.609196
0   -1.688618
dtype: float64

In [8]:
s2.sort_index()

0   -1.688618
1   -1.052942
2    0.971411
3   -1.609196
4   -0.293852
5    0.898115
6    1.519560
7   -1.538302
8   -0.614688
9    1.005417
dtype: float64

# Dataframe的排序

In [9]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A','B','C','D','E'])

In [10]:
df1

          A         B         C         D         E
0 -2.594699  0.330154  0.960197  2.491377 -0.036978
1 -1.535822 -0.819380  0.457898 -0.328164 -0.389328
2 -2.232885 -0.113702 -0.203547 -1.380787  0.276764
3  0.071655  1.486058 -0.130194 -0.755169 -0.414296
4 -1.158672 -1.022450  0.821070  0.982723  1.756416
5  0.578209 -0.940338 -0.698146  0.338848  1.789125
6  0.436118  1.270526  0.981997  0.029929 -0.896280
7 -0.960742  0.857556  0.984147  1.220367 -0.370950

In [11]:
df1['A'].sort_values()

0   -2.594699
2   -2.232885
1   -1.535822
4   -1.158672
7   -0.960742
3    0.071655
6    0.436118
5    0.578209
Name: A, dtype: float64

In [12]:
df2 = df1.sort_values('A')

In [13]:
df2

          A         B         C         D         E
0 -2.594699  0.330154  0.960197  2.491377 -0.036978
2 -2.232885 -0.113702 -0.203547 -1.380787  0.276764
1 -1.535822 -0.819380  0.457898 -0.328164 -0.389328
4 -1.158672 -1.022450  0.821070  0.982723  1.756416
7 -0.960742  0.857556  0.984147  1.220367 -0.370950
3  0.071655  1.486058 -0.130194 -0.755169 -0.414296
6  0.436118  1.270526  0.981997  0.029929 -0.896280
5  0.578209 -0.940338 -0.698146  0.338848  1.789125

In [14]:
df2.sort_index()

          A         B         C         D         E
0 -2.594699  0.330154  0.960197  2.491377 -0.036978
1 -1.535822 -0.819380  0.457898 -0.328164 -0.389328
2 -2.232885 -0.113702 -0.203547 -1.380787  0.276764
3  0.071655  1.486058 -0.130194 -0.755169 -0.414296
4 -1.158672 -1.022450  0.821070  0.982723  1.756416
5  0.578209 -0.940338 -0.698146  0.338848  1.789125
6  0.436118  1.270526  0.981997  0.029929 -0.896280
7 -0.960742  0.857556  0.984147  1.220367 -0.370950

In [16]:
df_results = pd.read_csv('movie_metadata.csv')

In [19]:
df_results.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [23]:
df_results[["movie_title","director_name","imdb_score"]].sort_values("imdb_score",ascending=False).to_csv("imdb_result.csv")

In [24]:
!ls

Series和DataFrame的排序.ipynb
Series和DataFrame的简单数学运算.ipynb
imdb_result.csv
movie_metadata.csv

In [ ]:
! more