In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
score_list = np.random.randint(25, 100, size=20)

In [3]:
score_list

array([55, 63, 77, 33, 37, 91, 55, 34, 95, 84, 39, 44, 98, 80, 57, 35, 64,
       89, 87, 52])

In [4]:
bins = [0,59,70,80,100]

In [7]:
score_cat = pd.cut(score_list, bins)

In [8]:
score_cat

[(0, 59], (59, 70], (70, 80], (0, 59], (0, 59], ..., (0, 59], (59, 70], (80, 100], (80, 100], (0, 59]]
Length: 20
Categories (4, interval[int64]): [(0, 59] < (59, 70] < (70, 80] < (80, 100]]

In [9]:
pd.value_counts(score_cat)

(0, 59]      10
(80, 100]     6
(70, 80]      2
(59, 70]      2
dtype: int64

In [10]:
df = DataFrame()
df['score'] = score_list
df['student'] = [pd.util.testing.rands(3) for i in range(20)]
df['Categories'] = pd.cut(df['score'],bins, labels=['Low','OK','Good','Great'])

In [11]:
df

    score student Categories
0      55     XoR        Low
1      63     IAt         OK
2      77     dwj       Good
3      33     o8U        Low
4      37     hNo        Low
5      91     wor      Great
6      55     UK7        Low
7      34     f06        Low
8      95     YlY      Great
9      84     FMI      Great
10     39     Dne        Low
11     44     aKT        Low
12     98     0SF      Great
13     80     vj0       Good
14     57     kqR        Low
15     35     hfI        Low
16     64     cHP         OK
17     89     bFI      Great
18     87     H4a      Great
19     52     87Q        Low